
/* article summary */

.article-summary {
    margin: 1.5cm 0cm 1.5cm 0cm;
}

.article-summary .article-summary-title {
    color: #343434;
    text-decoration: none;
    transition: all 0.5s;
    margin-left: -4px;
    margin-right: -4px;
}

.article-summary a {
    color: #343434;
    text-decoration: none;
    transition: all 0.5s;
}

.article-summary a:visited {
    color: #343434;
}

.article-summary .article-summary-info, .article-summary .article-summary-info a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
