#navigationBar {
	position: fixed;
	width: 100%;
	height: 40mm;
	background-color: black;
	left: 0;
	top: -30mm;
	transition: bottom 2s;
	-moz-transition: bottom 2s;
	-webkit-transition: bottom 2s;
	-o-transition: bottom 2s;
	z-index: 10;
}
#navigationBar:hover {
	top: 0mm;
}

#navigationBar #title {
	position: absolute;
	font-size: 7mm;
	bottom: 1mm;
	left: 1vw;
	color: white;
	max-width: 95%;
	margin: 0;
	padding: 0;
}

#navigationBar #githubIcon {
	position: absolute;
	height: 8mm;
	width: 8mm;
	bottom: 1mm;
	right: 1vw;
	border-radius: 50%;
	cursor: pointer;
}

#navigator {
	position: absolute;
	width: 98vw;
	height: 24mm;
	top: 0;
	left: 1vw;
}

#navigator a         { text-decoration:none; color: white; }
#navigator a:link    { color: white; }
#navigator a:visited { color: white; }
#navigator a:hover   { color: black; }
#navigator a:active  { color: black; }

#navigator p {
	font-size: 7mm;
	position: relative;
	width: 98vw;
	background: transparent;
	color: white;
}

#navigator p:hover {
	color: black;
	background: white;
	cursor: pointer;
}

#content {
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: auto;
	margin-top: 10mm;
	margin-bottom: 0;
	margin-left: 0;
	background-color: white;
	z-index: 0;
	border-radius: 0;
}