::-webkit-scrollbar { width: 0px; }
::scrollbar { width: 0px; }




body {
	font-family: 微软雅黑 Light, Clockopia, Droid Sans, STHeiti-Light, Arial;
	font-size: 3vh;
	margin:0;
	padding:0;
	font-weight: lighter;
	background-color: #607D8B;
}

/*a { text-decoration:none; color: #0066cc; }
a:link    { color: #0066cc; }
a:visited { color: #0066cc; }
a:hover   { color: white; background: rgb(128,0,128); }
a:active  { color: white; background: rgb(128,0,128); }*/

#navigationBar * {
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

#navigationBar {
	position: fixed;
	width: 100%;
	height: 60mm;
	background-color: black;
	left: 0;
	top: -45mm;
	transition: top 2s;
	-moz-transition: top 2s;
	-webkit-transition: top 2s;
	-o-transition: top 2s;
	z-index: 10;
}
#navigationBar:hover {
	top: 0;
}

#navigationBar #title {
	position: absolute;
	font-size: 10.5mm;
	bottom: 1.5mm;
	left: 1vw;
	color: white;
	max-width: 95%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-x: auto;
}

#navigationBar #githubIcon {
	position: absolute;
	height: 12mm;
	width: 12mm;
	bottom: 1.5mm;
	right: 1vw;
	border-radius: 50%;
	cursor: pointer;
}

#navigator {
	position: absolute;
	width: 98vw;
	height: 45mm;
	top: 0;
	left: 1vw;
}

#navigator a         { text-decoration:none; color: white; }
#navigator a:link    { color: white; }
#navigator a:visited { color: white; }
#navigator a:hover   { color: black; }
#navigator a:active  { color: black; }

#navigator p {
	font-size: 10.5mm;
	position: relative;
	width: 98vw;
	height: 15mm;
	background: transparent;
	color: white;
}

#navigator p:hover {
	color: black;
	background: white;
	cursor: pointer;
}

#content {
	position: relative;
	width: 60vw;
	height: auto;
	margin-top: 30mm;
	margin-bottom: 15mm;
	margin-left: 20vw;
	background-color: white;
	z-index: 0;
	border-radius: 2mm;
	max-width: 60vw;
}

#content p, h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
	margin-top: 5mm;
	margin-bottom: 5mm;
	margin-left: 2mm;
	margin-right: 2mm;
}


#content h1  { font-size: 11mm;  font-weight: lighter; }
#content h2  { font-size: 10mm;   font-weight: lighter; }
#content h3  { font-size: 9mm;   font-weight: lighter; }
#content h4  { font-size: 8mm;   font-weight: lighter; }
#content h5  { font-size: 7mm;   font-weight: lighter; }
#content h6  { font-size: 6mm;   font-weight: lighter; }
#content p   { font-size: 5mm;   font-weight: lighter; }
#content img { max-width: 60vw; margin: 0; margin-left: -2mm; padding: 0; }
#content div#disqus_thread { margin-left: 2mm; margin-right: 2mm; }

#content a         { text-decoration:none; color: #2196F3; }
#content a:link    { color: #2196F3; }
#content a:visited { color: #2196F3; }
#content a:hover   { background-color: #2196F3; color: white; }
#content a:active  { background-color: #9C27B0; color: white; }


@media screen and (max-width: 200mm) {

	body {
		background-color: #9E9E9E;
	}

	#navigationBar {
		position: fixed;
		width: 94vw;
		height: 66mm;
		background-color: #607D8B;
		left: 3vw;
		top: -48mm;
		border-radius: 3mm;
		transition: top 1.5s;
		-moz-transition: top 1.5s;
		-webkit-transition: top 1.5s;
		-o-transition: top 1.5s;
		z-index: 10;
	}
	#navigationBar:hover {
		top: -3mm;
	}

	#navigationBar #title {
		position: absolute;
		font-size: 10.5mm;
		height: 15mm;
		bottom: 0mm;
		left: 1vw;
		color: white;
		width: 75%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}

	#navigationBar #githubIcon {
		position: absolute;
		height: 13mm;
		width: 13mm;
		bottom: 3mm;
		right: 1vw;
		border-radius: 50%;
		cursor: pointer;
	}

	#navigator {
		position: absolute;
		width: 92vw;
		height: 24mm;
		top: 3mm;
		left: 1vw;
	}

	#navigator a         { text-decoration:none; color: white; }
	#navigator a:link    { color: white; }
	#navigator a:visited { color: white; }
	#navigator a:hover   { color: black; }
	#navigator a:active  { color: black; }

	#navigator p {
		font-size: 10.5mm;
		position: relative;
		width: 92vw;
		height: 15mm;
		background: transparent;
		color: white;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}

	#navigator p:hover {
		color: black;
		background: white;
		cursor: pointer;
	}

	#content {
		position: relative;
		width: 94vw;
		max-width: 94vw;
		height: auto;
		margin-top: 28mm;
		margin-bottom: 10mm;
		margin-left: 3vw;
		background-color: white;
		z-index: 0;
		border-radius: 3mm;
	}

	#content p, h1, h2, h3, h4, h5, h6 {
		word-wrap: break-word;
		margin-top: 5mm;
		margin-bottom: 5mm;
		margin-left: 2mm;
		margin-right: 2mm;
	}


	#content h1  { font-size: 10mm;  font-weight: lighter; }
	#content h2  { font-size: 9mm;   font-weight: lighter; }
	#content h3  { font-size: 8mm;   font-weight: lighter; }
	#content h4  { font-size: 7mm;   font-weight: lighter; }
	#content h5  { font-size: 6mm;   font-weight: lighter; }
	#content h6  { font-size: 5mm;   font-weight: lighter; }
	#content p   { font-size: 4mm;   font-weight: lighter; }
	#content img { max-width: 94vw; margin: 0; margin-left: -2mm; padding: 0; }
	#content div#disqus_thread { margin-left: 2mm; margin-right: 2mm; }
}