/*::-webkit-scrollbar { width: 0px; }
::scrollbar { width: 0px; }*/


.bg {
	position:   absolute;
	width:      100%;
	height:     100%;
	left:       0;
	top:        0;
	background: #E0E0E0;
	opacity:    0.8;
	z-index:    -10000;
}

body {
	font-family: 微软雅黑 Light, Clockopia, Droid Sans, STHeiti-Light, Arial;
	font-size: 3vh;
	margin:0;
	padding:0;
	font-weight: lighter;
	background:url(../img/bg.jpg);
	background-size: 100vw 100vh;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

a         { text-decoration:none; color: #2196F3; }
a:link    { color: #2196F3; }
a:visited { color: #2196F3; }
a:hover   { color: white; background: #2196F3; }
a:active  { color: white; background: #2196F3; }



#navigator {
	position: absolute;
	width: 20vw;
	height: auto;
	top: 40vh;
	left: -20vw;
}

#title {
	position: relative;
	width: 60vw;
	height: auto;
	max-width: 60vw;
	min-height: 20vh;
	margin-top: 15vh;
	margin-left: 20vw;
	margin-bottom: 0;
	padding-bottom: 0;
	background: transparent;
	color: #2196F3;
	font-size: 10vh;
}
#date {
	position: relative;
	width: 60vw;
	height: auto;
	padding-top: 0;
	margin-top: 0;
	margin-left: 20vw;
	background: transparent;
	color: #2196F3;
	font-size: 5mm;
}
#content {
	position: relative;
	width: 60vw;
	height: auto;
	max-width: 60vw;
	margin-top: 10vh;
	margin-bottom: 20vh;
	margin-left: 20vw;
	background: transparent;
}

#content p, h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
	margin-top: 5mm;
	margin-bottom: 5mm;
	margin-left: 2mm;
	margin-right: 2mm;
}


#content h1  { font-size: 11mm;  font-weight: lighter; }
#content h2  { font-size: 10mm;   font-weight: lighter; }
#content h3  { font-size: 9mm;   font-weight: lighter; }
#content h4  { font-size: 8mm;   font-weight: lighter; }
#content h5  { font-size: 7mm;   font-weight: lighter; }
#content h6  { font-size: 6mm;   font-weight: lighter; }
#content p   { font-size: 5mm;   font-weight: lighter; }
#content img { max-width: 60vw; margin: 0; /*margin-left: -2mm;*/ padding: 0; }
#content div#disqus_thread { margin-left: 2mm; margin-right: 2mm; }

#content a         { text-decoration:none; color: #2196F3; }
#content a:link    { color: #2196F3; }
#content a:visited { color: #2196F3; }
#content a:hover   { background: #2196F3; color: white; }
#content a:active  { background: #9C27B0; color: white; }


@media screen and (max-width: 200mm) {

	body {
		background-color: #9E9E9E;
	}

	#navigationBar {
		position: fixed;
		width: 94vw;
		height: 66mm;
		background-color: #607D8B;
		left: 3vw;
		top: -48mm;
		border-radius: 3mm;
		transition: top 1.5s;
		-moz-transition: top 1.5s;
		-webkit-transition: top 1.5s;
		-o-transition: top 1.5s;
		z-index: 10;
	}
	#navigationBar:hover {
		top: -3mm;
	}

	#navigationBar #title {
		position: absolute;
		font-size: 10.5mm;
		height: 15mm;
		bottom: 0mm;
		left: 1vw;
		color: white;
		width: 75%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}

	#navigationBar #githubIcon {
		position: absolute;
		height: 13mm;
		width: 13mm;
		bottom: 3mm;
		right: 1vw;
		border-radius: 50%;
		cursor: pointer;
	}

	#navigator {
		position: absolute;
		width: 92vw;
		height: 24mm;
		top: 3mm;
		left: 1vw;
	}

	#navigator a         { text-decoration:none; color: white; }
	#navigator a:link    { color: white; }
	#navigator a:visited { color: white; }
	#navigator a:hover   { color: black; }
	#navigator a:active  { color: black; }

	#navigator p {
		font-size: 10.5mm;
		position: relative;
		width: 92vw;
		height: 15mm;
		background: transparent;
		color: white;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}

	#navigator p:hover {
		color: black;
		background: white;
		cursor: pointer;
	}

	#content {
		position: relative;
		width: 94vw;
		max-width: 94vw;
		height: auto;
		margin-top: 28mm;
		margin-bottom: 10mm;
		margin-left: 3vw;
		background-color: white;
		z-index: 0;
		border-radius: 3mm;
	}

	#content p, h1, h2, h3, h4, h5, h6 {
		word-wrap: break-word;
		margin-top: 5mm;
		margin-bottom: 5mm;
		margin-left: 2mm;
		margin-right: 2mm;
	}


	#content h1  { font-size: 10mm;  font-weight: lighter; }
	#content h2  { font-size: 9mm;   font-weight: lighter; }
	#content h3  { font-size: 8mm;   font-weight: lighter; }
	#content h4  { font-size: 7mm;   font-weight: lighter; }
	#content h5  { font-size: 6mm;   font-weight: lighter; }
	#content h6  { font-size: 5mm;   font-weight: lighter; }
	#content p   { font-size: 4mm;   font-weight: lighter; }
	#content img { max-width: 94vw; margin: 0; margin-left: -2mm; padding: 0; }
	#content div#disqus_thread { margin-left: 2mm; margin-right: 2mm; }
}
