
body {
    background-color: white;
}

* {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-weight: 100;
}


a {
    color: #2196f3;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
}

a:visited {
    color: #2196f3;
}

a:hover {
    background: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    color: #343434;
    font-weight: 900;
}

/* header */

header {
    margin-bottom: 2.5cm;
}

header .title {
    font-size: 1cm;
    margin: 3cm 0cm 1.5cm 0cm;
    max-width: 17cm;
    font-weight: 100;
}

header nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav a {
    margin: 0.5cm;
    color: #343434;
}

header nav a[selected] {
    font-weight: 900;
}

header nav a:visited {
    color: #343434;
}

header nav a:hover {
    background: #F5F5F5;
}

/* article */

article, main {
    width: calc(100vw - 1cm);
    text-align: left;
    max-width: 17cm;
}

article, article * {
    line-height: 24px;
}

article pre.highlight {
    padding: 6px;
    background: #eeeeee;
    border-radius: 6px;
    overflow: auto;
}
article pre.highlight, article pre.highlight code, article pre.highlight code span {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* footer */

footer {
    margin: 2cm 0cm 2cm 0cm;
    color: #8E8E93;
}
