
a    {
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
a:link    { color: #000000; }
a:visited { color: #000000; }
a:hover   { color: #2196f3; }
a:active  { color: #2196f3; }

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen HeiSharp", sans-serif;
    background-color: white;
    margin: 0px;
}

nav {
    position: absolute;
    top: 1rem; left: 1rem; right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    color: white;
}

nav .text {
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

nav .text:first-child {
    margin-right: 0;
}

nav .text:link    { color: #ffffff; }
nav .text:visited { color: #ffffff; }
nav .text:hover   { color: #2196f3; }
nav .text:active  { color: #2196f3; }

nav .icon {
    margin: 0 0.5rem;
    width: 2rem; height: 2rem;
    cursor: pointer;
    color: white;
}

nav .icon:first-child {
    margin-right: 0;
}

header {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

header .title {
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

header .info a    { text-decoration: none; }
header .info a:link    { color: #ffffff; }
header .info a:visited { color: #ffffff; }
header .info a:hover   { color: #2196f3; }
header .info a:active  { color: #2196f3; }

header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
header .info span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: no-wrap;
}

header .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .buttons * {
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    background: rgba(0,0,0,0.3);
    margin: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    text-decoration: none;
}

header .buttons *:link    { border-color: #ffffff; color: #ffffff; }
header .buttons *:visited { border-color: #ffffff; color: #ffffff; }
header .buttons *:hover   { border-color: #2196f3; color: #2196f3; }
header .buttons *:active  { border-color: #2196f3; color: #2196f3; }

article {
    width: calc(100% - 2rem);
    max-width: calc(800px - 2rem);
    margin: 5rem auto;
    padding: 0 1rem;
}


pre.highlight {
    padding: 1rem;
    background: #EEEEEE;
    border-radius: 6px;
}
