
body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen HeiSharp", sans-serif;
    background-color: white;
    margin: 0px;
}

header {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

header a    {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

header a:link    { color: #ffffff; }
header a:visited { color: #ffffff; }
header a:hover   { color: #2196f3; }
header a:active  { color: #2196f3; }

header nav {
    position: absolute;
    top: 1rem; right: 1rem;
    max-width: calc(100vw - 2rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
}

header nav .text {
    margin: 0 0.5rem;
    font-size: 1rem;
}

header nav .text:last-child {
    margin-right: 0;
    z-index: 10;
}

header .title {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

header .info span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

header .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .buttons * {
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    background: rgba(0,0,0,0.3);
    margin: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}

header .buttons *:link    { border-color: #ffffff; color: #ffffff; }
header .buttons *:visited { border-color: #ffffff; color: #ffffff; }
header .buttons *:hover   { border-color: #2196f3; color: #2196f3; }
header .buttons *:active  { border-color: #2196f3; color: #2196f3; }

article {
    width: calc(100% - 2rem);
    max-width: calc(800px - 2rem);
    margin: 5rem auto;
    padding: 0 1rem;
}

article a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #2196f3;
    border-radius: 3px;
    padding: 1px;
    overflow: hidden;
    background: transparent;
}

article a:link    { color: #2196f3; background: transparent; }
article a:visited { color: #2196f3; background: transparent; }
article a:hover   { color: #ffffff; background: #2196f3; }
article a:active  { color: #ffffff; background: #2196f3; }

pre.highlight {
    padding: 1rem;
    background: #EEEEEE;
    border-radius: 6px;
}
