body {
    background-color: #212121;
}

table.auto-grid {
    position: relative;
    width: 90vw;
    height: auto;
    max-width: 60vw;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 5vw;
}

table td {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    margin: 4px;
}