
* {
    transform: translate3d(0,0,0);
    margin: 0;
    padding: 0;
}

body {
    background: black;
    font-family: Century Gothic, sans-serif;
}

a:link    { text-decoration: none; color: #2196f3; }
a:visited { text-decoration: none; color: #2196f3; }
a:hover   { text-decoration: none; color: #81d8d0; }
a:active  { text-decoration: none; color: #81d8d0; }


.blue {
    color: #2196f3;
}

.cover {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: black;
    opacity: 0.5;
}
.right_bottom {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

header {
    position: absolute;
    left: 3rem;
    top: 3rem;
    font-size: 3rem;
    color: #2196F3;
    z-index: 200;
}

main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 100;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 100;
}

section .image {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}

section .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: black;
    padding: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    background: white;
}


@media all and (max-width: 800px) {

header {
    left: 1rem;
    top: 2rem;
    font-size: 2rem;
}

.right_bottom {
    bottom: 5rem;
    right: 1rem;
}

section .image {
    font-size: 1rem;
}

section .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

section .image * {
    text-align: center;
}

}