.item {
    margin: 0;
    padding: 0;
    border-bottom: 1px dashed #212121;
}

.logo {
    display: inline;
    margin: 8px;
    width: 5rem;
    height: auto;
}

.text {
    display: inline;
    margin: 8px;
    white-space: nowrap;
    font-size: 2rem
}

.description {
    display: block;
    margin: 8px;
}