---
layout: default
title: Blog Categories
header-buttons:
- <a href="/index"><i class="material-icons">&#xE40C;</i>&nbsp;Home</a>
- <a href="https://github.com/wenyuzhao"><i class="material-icons">&#xE86F;</i>&nbsp;GitHub</a>
- <a href="mailto:wenyuzhaox@gmail.com"><i class="material-icons">&#xE0BE;</i>&nbsp;Contact Me</a>
---
<style>
    .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    .categories a {
        border: 1px solid #03A9F4;
        border-radius: 6px;
        background: transparent;
        margin: 0.5rem;
        font-size: 1rem;
        padding: 6px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }

    .categories a:link    { background: transparent; color: #03A9F4; }
    .categories a:visited { background: transparent; color: #03A9F4; }
    .categories a:hover   { background: #03A9F4; color: #ffffff; }
    .categories a:active  { background: #03A9F4; color: #ffffff; }

    .categories a * {
        font-size: 1rem;
    }

    .category-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        border-bottom: 2px solid #999;
        padding-bottom: 1rem;
    }
</style>

{% assign sorted_categories = site.categories | sort %}

<div class="categories">
    {% for category in sorted_categories %}
        <a href="#{{ category[0] }}"><i class="material-icons">&#xE54E;</i>&nbsp;{{ category[0] | join: " / " }}</a>
    {% endfor %}
</div>


{% for category in sorted_categories %} 
    <h2 class="category-title" id="{{ category[0] }}"><i class="material-icons">&#xE54E;</i>&nbsp;{{ category[0] | join: " / " }}</h2>
    <ul style="padding-left: 60px; margin-bottom: 5rem;">
        {% for node in category[1] %}
            <li style="padding: 5px; margin: 5px 0;">
                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
