<link rel="stylesheet" type="text/css" href="css/article-summary.css">

{% for post in site.posts %}
    <section class="article-summary">
        <h2 class="article-summary-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <p class="article-summary-info">
            <i class="material-icons">&#xE878;</i>
            &nbsp;{{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">&#xE54E;</i>
            &nbsp;<a href="{{ site.url }}/categories.html#{{ post.category }}">{{ post.category }}</a>
        </p>
    </section>
{% endfor %}
