<h1 id="name" style="position: absolute; left:0; right:0; top: 10vh;">Wenyu Zhao</h1>
<script type="text/javascript">
	$('name').clientTop = $("floatButton").clientTop;
</script>
<div id="buttons" style="position: absolute; bottom:0; left:0; right:0; top: 50vh;">

	<h4 onmouseover="navigator_button_mouseover(this)" onmouseout="navigator_button_mouseout(this)" onclick="window.location.href='http://wenyuzhao.github.io/index.html'">Home</h4>
	<h4 onmouseover="navigator_button_mouseover(this)" onmouseout="navigator_button_mouseout(this)" onclick="window.location.href='{{ site.baseurl }}/index.html'">Blog</h4>

</div>

