
.MsgPlane {
	width:33%;
	height:100%;
	margin:0px;
	float:left;
	text-align:right;
	background:#0066cc;
	box-shadow: 10px 10px 5px #888888;

	animation:msgPlaneAnimation 1s;
	-moz-animation:msgPlaneAnimation 1s;
	-webkit-animation:msgPlaneAnimation 1s;
	-o-animation:msgPlaneAnimation 1s;

}
@keyframes msgPlaneAnimation {
	from {margin-left:-30%;}
	to {margin-left:0%;}
}
@-moz-keyframes msgPlaneAnimation {
	from {margin-left:-30%;}
	to {margin-left:0%;}
}
@-webkit-keyframes msgPlaneAnimation {
	from {margin-left:-30%;}
	to {margin-left:0%;}
}
@-o-keyframes msgPlaneAnimation {
	from {margin-left:-30%;}
	to {margin-left:0%;}
}
