<a href={`https://doi.org/${Astro.props.doi}`}>
    <img
        src={`https://img.shields.io/badge/DOI-${Astro.props.doi}-green.svg?style=flat-square&logo=doi&label=DOI&logoColor=white`}
        alt="DOI"
    />
</a>
