<a href={Astro.props.href || `https://github.com/${Astro.props.repo}`}>
    <img
        src={`https://img.shields.io/github/stars/${Astro.props.repo}?style=flat-square&logo=github&label=Stars`}
        alt="Stars"
    />
</a>
