<a href={`https://www.youtube.com/watch?v=${Astro.props.video}`}>
    <img
        src={`https://img.shields.io/youtube/views/${Astro.props.video}?style=flat-square&logo=youtube&label=Views`}
        alt="YouTube Views"
    />
</a>
