body { font-family: 微软雅黑 Light, Droid Sans, STHeiti-Light, Arial; font-size: 5vw; margin:0px; padding:0px; overflow-x: hidden;}
h1 { font-size: 10vw; font-weight: lighter; }
h2 { font-size: 9vw; font-weight: lighter; }
h3 { font-size: 8vw; font-weight: lighter; }
h4 { font-size: 7vw; font-weight: lighter; }
h5 { font-size: 6vw; font-weight: lighter; }
h6 { font-size: 5vw; font-weight: lighter; }
img {max-width: 96vw;}


a { text-decoration:none; color: #0066cc; padding: 5px; border-radius: 5px;}
a:link    { color: #0066cc; }	/* 未被访问的链接 */
a:visited { color: #0066cc; }	/* 已被访问的链接 */
a:hover   { color: white; background: rgb(128,0,128); }	/* 鼠标指针移动到链接上 */
a:active  { color: white; }	/* 正在被点击的链接 */

#content .Button a { padding: 0px; margin: 1vh; text-decoration:none; color: white; }
#content .Button a:link    { color: white; }	/* 未被访问的链接 */
#content .Button a:visited { color: white; }	/* 已被访问的链接 */
#content .Button a:hover   { color: white; }	/* 鼠标指针移动到链接上 */
#content .Button a:active  { color: white; }	/* 正在被点击的链接 */

#navigator_container {
	position: relative;
	height: 30vh;
	width: 100vw;
	background: #0066cc;

	animation:planeInAnimation 3s;
	-moz-animation:planeInAnimation 3s;
	-webkit-animation:planeInAnimation 3s;
	-o-animation:planeInAnimation 3s;

}

@keyframes planeInAnimation { from { top:-30vh; } to { top:0vh; } }
@-moz-keyframes planeInAnimation { from { top:-30vh; } to { top:0vh; } }
@-webkit-keyframes planeInAnimation { from { top:-30vh; } to { top:0vh; } }
@-o-keyframes planeInAnimation { from { top:-30vh; } to { top:0vh; } }

#floatButton {
	position: absolute;
	width: 20vw;
	height: 20vw;
	bottom: -10vw;
	right: 10vw;
	cursor: pointer;
	border-radius: 50%;
}

#navigator {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	color: white;
}


#content {
	position: relative;
	width: 96vw;
	margin: 2vw;
	margin-top: 20vw;
}


#content .Button {
	position: relative;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: #0066cc;
	color: white;
	border-radius: 1vh;
	text-align: center;
	cursor: pointer;
}



#content .Button:hover {
	background-color: rgb(128, 0, 128);
	color: white;
}