body, pre, code, div, p, h1, h2, h3, h4, h5, h6, a {
	word-wrap: break-word;
}


body { font-family: 微软雅黑 Light, Clockopia, Droid Sans, STHeiti-Light, Arial; font-size: 3vh; margin:0px; padding:0px; font-weight: lighter; }
h1 { font-size: 8vh; font-weight: lighter; }
h2 { font-size: 7vh; font-weight: lighter; }
h3 { font-size: 6vh; font-weight: lighter; }
h4 { font-size: 5vh; font-weight: lighter; }
h5 { font-size: 4vh; font-weight: lighter; }
h6 { font-size: 3vh; font-weight: lighter; }
img { max-width: 59vw; }

a { text-decoration:none; color: #0066cc; }
a:link    { color: #0066cc; }	/* 未被访问的链接 */
a:visited { color: #0066cc; }	/* 已被访问的链接 */
a:hover   { color: white; background: rgb(128,0,128); }	/* 鼠标指针移动到链接上 */
a:active  { color: white; background: rgb(128,0,128); }	/* 正在被点击的链接 */

#content .Button a { margin:1vh; text-decoration:none; color: white; }
#content .Button a:link    { color: white; }	/* 未被访问的链接 */
#content .Button a:visited { color: white; background: rgb(128,0,128); }	/* 已被访问的链接 */
#content .Button a:hover   { color: white; }	/* 鼠标指针移动到链接上 */
#content .Button a:active  { color: white; }	/* 正在被点击的链接 */

#navigator_container {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	height: 100vh;
	width: 30vw;
	background: #0066cc;

	animation:planeInAnimation 3s;
	-moz-animation:planeInAnimation 3s;
	-webkit-animation:planeInAnimation 3s;
	-o-animation:planeInAnimation 3s;

}

@keyframes planeInAnimation { from { left:-30%; } to { left:0%; } }
@-moz-keyframes planeInAnimation { from { left:-30%; } to { left:0%; } }
@-webkit-keyframes planeInAnimation { from { left:-30%; } to { left:0%; } }
@-o-keyframes planeInAnimation { from { left:-30%; } to { left:0%; } }

#floatButton {
	position: absolute;
	width: 15vh;
	height: 15vh;
	right: -7.5vh;
	top: 13.5vh;
	cursor: pointer;
	border-radius: 50%;
}

#navigator {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	overflow: hidden;
	color: white;
}


#navigator .Button {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
	color: #0066cc;
	border-radius: 1vh;
	text-align: center;
	cursor: pointer;
}
#navigator .Button:hover {
	background-color: rgb(128, 0, 128);
	color: white;
}

#content .Button {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #0066cc;
	color: white;
	border-radius: 1vh;
	text-align: center;
	cursor: pointer;
	display:inline;
	padding: 0px;
}
#content .Button:hover {
	background-color: rgb(128, 0, 128);
	color: white;
}

#content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1vw;
	word-wrap: break-word;
	max-width: 60vw;
}

