---
import NavLink from "./NavLink.astro";

const title: string | string[] = Astro.props.title;
---

<header data-route={Astro.routePattern} data-pathname={Astro.url.pathname}>
    <h1 class="title">
        {
            Array.isArray(title) ? (
                <>
                    {title[0]}
                    {title.slice(1).map((part, index) => (
                        <>
                            <span style="color: #9e9e9e; font-weight: 500">
                                /
                            </span>
                            {part}
                        </>
                    ))}
                </>
            ) : (
                title
            )
        }
    </h1>

    <nav class="nav">
        <div class="nav-row">
            <NavLink title="Home" href="/" />
            <NavLink title="Publications" href="/publications" />
        </div>
        <div class="nav-row">
            <NavLink title="GitHub" href="https://github.com/wenyuzhao" />
            <NavLink
                title="LinkedIn"
                href="https://www.linkedin.com/in/wenyu-zhao"
            />
            <NavLink title="About Me" href="/about" />
        </div>
    </nav>
</header>
