<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{{ page.title }} | William Zhao</title>
		<link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/ico"/>

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css"/>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pygment_trac.css"/>

		<script type="text/javascript" src="{{ site.baseurl }}/js/frame.js"></script>

		<!--[if lt IE 9]>
			<script src="{{ site.baseurl }}/js/html5.js"></script>
		<![endif]-->
		
		
		{% if page.import contains "latex" %}
			{% include latex.html %}
		{% endif %}

	</head>
	<body>


		<div id="navigator">
			<div id="arrow"></div>
			<a href="{{ site.baseurl }}/index.html"><p>Website homepage</p></a>
			<a href="{{ site.baseurl }}/blog.html"><p>Blog homepage</p></a>
			<p>Contact to the auther</p>
			<a href="https://github.com/wenyuzhao"><p>GitHub</p></a>
		</div>

		<div id="title">{{ page.title }}</div>
		<div id="content">
			<div class="glass"></div>
			{{ content }}
			
			{% if page.import contains "disqus" %}
				{% include disqus.html %}
			{% endif %}

		</div>
	</body>
</html>
