<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
        	<script src="{{ site.baseurl }}/js/html5.js"></script>
        <![endif]-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <title>{{ page.title }} | William Zhao</title>
        <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/ico"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pygment_trac.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        {% if page.latex %}
        	{% include latex.html %}
        {% endif %}
    </head>
    <body>
        <header>
            {% include cover-3d.html %}
            <div class="title">
                <h1 class="t-font">
                    {{ page.title }}
                </h1>
                {% if page.date %}
                    <p class="info">
                        <span>
                            <i class="material-icons">&#xE24F;</i>&nbsp;
                            Published:&nbsp;{{ page.date | date_to_string }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <span>
                            <i class="material-icons">&#xE2C7;</i>&nbsp;
                            Category:&nbsp;<a href="{{ site.url }}/categories.html#{{ page.category }}">{{ page.category }}</a>
                        </span>
                    </p>
                {% endif %}
                {% if page.header-buttons %}
                    <div class="buttons">
                        {% for button in page.header-buttons %}
                            {{ button }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </header>
        
        <article>
            {{ content }}
            {% if page.comments %}
                {% include disqus.html %}
            {% endif %}
        </article>
    </body>
</html>
