<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

<head>
    <title>{{ page.title | strip_html }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description"
        content="{% if page.description %}{{page.description }}{% else %}{{ site.default_description }}{% endif %}{{ site.description_postfix }}" />
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords }},{% endif %}{{ site.common_keywords }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title | strip_html }}{{ site.title_postfix }}" />
    <meta property="og:description"
        content="{% if page.description %}{{page.description }}{% else %}{{ site.default_description }}{% endif %}{{ site.description_postfix }}" />
    <meta property="og:url" content="http://wenyuzhao.me{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="article:publisher" content="https://www.facebook.com/wenyu.zhao2" />
    {% if page.category %}
    <meta property="article:section" content="{{ page.category }}" />
    <meta property="article:tag" content="赵文宇,Wenyu Zhao,wenyuzhao,{{ page.category }}" />
    {% else %}
    <meta property="article:section" content="X" />
    <meta property="article:tag"
        content="{% if page.keywords %}{{page.keywords }},{% endif %}{{ site.common_keywords }}" />
    {% endif %}
    <!--[if lt IE 9]>
        	<script src="{{ site.baseurl }}/js/html5.js"></script>
        <![endif]-->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/ico" /> -->
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/highlight.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {% if page.latex %}
    {% include latex.html %}
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5PZJH8KK19"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5PZJH8KK19');
    </script>
</head>

<body>
    {% include header.html %}

    <article>
        {{ content }}

        {% if page.comments %}
        {% include utterances.html %}
        {% endif %}
    </article>

    <footer>&copy; 2022 Wenyu Zhao</footer>
    <script>console.info('Hi, how are you 🐨')</script>
</body>

</html>