:root {
    --background-color: #FFFAFA;
    --background-color-active: #eeeeee;
    --link-color: #2196f3;
    --link-color-active: var(--link-color);
    --link-color-visited: var(--link-color);
    --footer-color: #aaaaaa;
    --text-color: #343434;
    --line-color: #eeeeee;
    --transition: all 0.5s;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
}

* {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


a {
    color: var(--link-color);
    text-decoration: none;
    transition: var(--transition);
    border-radius: 4px;
    padding: 2px 2px;
}

a:visited {
    color: var(--link-color-visited);
}

a:hover {
    color: var(--link-color-active);
    background: var(--background-color-active);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    color: var(--text-color);
}

/* header */

header {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title {
    font-size: 2rem;
    margin: 7rem 0 3.5rem 0;
    width: calc(100vw - 2rem);
    max-width: 41rem;
    text-align: center;
}

header nav {
    width: calc(100vw - 1rem);
    max-width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

header nav a {
    margin: 0.2rem;
    color: var(--text-color);
    font-weight: 100;
    border-radius: 4px;
    padding: 4px 6px;
}

header nav a[selected] {
    font-weight: 900;
}

header nav a:visited {
    color: var(--text-color);
}

header nav a:hover {
    color: var(--text-color);
}

/* article */

article, main {
    width: calc(100vw - 4rem);
    text-align: left;
    max-width: 41rem;
}

@media (min-width: 2048px) {
    article, main {
        max-width: 56rem;
    }
}

article, article * {
    line-height: 32px;
}

article pre.highlight {
    padding: 6px;
    background: #eeeeee;
    border-radius: 6px;
    overflow: auto;
    line-height: 24px;
}

article pre.highlight * {
    line-height: 24px;
}

article pre.highlight, article pre.highlight code, article pre.highlight code span {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

article > h1, article > h2 {
    margin-top: 5rem;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 0.5rem;
}

/* footer */

footer {
    margin: 5rem 0 5rem 0;
    color: var(--footer-color);
}
