
body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eeeeee;
}

* {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /*font-weight: 100;*/
}


a {
    color: #2196f3;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}

a:visited {
    color: #2196f3;
}

a:hover {
    background: #cccccc;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    color: #343434;
    /*font-weight: 900;*/
}

/* header */

header {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title {
    font-size: 2rem;
    margin: 7rem 0 3.5rem 0;
    width: calc(100vw - 2rem);
    max-width: 41rem;
    /*font-weight: 100;*/
    text-align: center;
}

header nav {
    width: calc(100vw - 1rem);
    max-width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

header nav a {
    margin: 0.2rem;
    color: #343434;
    font-weight: 100;
}

header nav a[selected] {
    font-weight: 900;
}

header nav a:visited {
    color: #343434;
}

header nav a:hover {
    background: #cccccc;
}

/* article */

article, main {
    width: calc(100vw - 2rem);
    text-align: left;
    max-width: 41rem;
}

@media (min-width: 2048px) {
    article, main {
        max-width: 56rem;
    }
}

article, article * {
    line-height: 32px;
}

article pre.highlight {
    padding: 6px;
    background: #eeeeee;
    border-radius: 6px;
    overflow: auto;
    line-height: 24px;
}

article pre.highlight * {
    line-height: 24px;
}

article pre.highlight, article pre.highlight code, article pre.highlight code span {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

article > h1, article > h2 {
    margin-top: 5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

/* footer */

footer {
    margin: 5rem 0 5rem 0;
    color: #9e9e9e;
}

/* THEME */

.neu-card {
    position: relative;
    overflow: hidden;
    background: #eeeeee;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 6px #cacaca, -3px -3px 6px #ffffff;
    border-radius: 16px;
    padding: 16px;
}

.neu-card-clickable {
    cursor: pointer;
}

.neu-card-clickable:active {
  box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #cacaca !important;
}

/* a.neu-link {
    all: unset;
    color: #2196f3;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}
a:visited {
    color: #2196f3;
}

a:hover {
    background: #F5F5F5;
} */